* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #191919;
    font-family: 'Uchen', serif;
    font-weight: 500;
}

.contenedor {
    text-align: center; /*aplica para imagen y texto*/
    padding: 30px 0; 
    width: 100%;
    max-width: 1000px; 
    margin:auto;
}

.titulo {
    font-family: 'Yeseva One', cursive;
    color:rgb(241, 241, 241);
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

header{
    

    background: #200122c8;  
    background: -webkit-linear-gradient(to right, #6f0000cc, #200122cf); 
    background: linear-gradient(to right, #6f00008e, #20012286), url(botellas2.jpg);
    
    background-size: cover;
    padding-top: 100px;
    width: 100%;
    height: 300px;
}

nav{
    text-align: center;
    padding: 30 50 0 0;
}

nav > a {
    font-family: 'Yeseva One', cursive;
    text-shadow: 7px 5px 5px rgb(161, 30, 30);
    color: rgb(241, 241, 241);
    font-weight: 200;
    text-decoration: none;
    font-size: 50px;
    margin-right: 50px;
    
}

nav > a:hover {
    text-decoration: underline;
}

.contenido__port {
    background: rgb(57, 1, 1);  
    background: -webkit-linear-gradient(to right, #3a0000, #220801);
   background: linear-gradient(to right, #580000, #221101); 
   box-shadow: rgba(77, 77, 77, 0.32) 2px 2px 16px 2px, rgba(14, 30, 37, 0.32) 2px 2px 16px 2px; 
    padding: 30px;
    border-radius: 30px;
    
}
.contenido__port h3 {
    color: rgb(241, 241, 241);
    font-weight: 300;
    font-family: 'Poiret One', cursive;
}

.card {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}
.card .card {
    font-family: 'Poiret One', cursive;
    font-weight: 300;
    flex-direction: column;
    align-items: flex-start;
    display: flex; /*para poder aplicar propiedades de flex*/
    justify-content: space-evenly;
    color: rgb(241, 241, 241);
    width: 80%;
    height: 150%;
    padding: 30px;
    border-radius: 30px;
     background: rgb(57, 1, 1);  
     background: -webkit-linear-gradient(to right, #3a0000, #220801);
    background: linear-gradient(to right, #580000, #221101); 
    box-shadow: rgba(77, 77, 77, 0.32) 2px 2px 16px 2px, rgba(14, 30, 37, 0.32) 2px 2px 16px 2px; 
}

.proyecto__texto {
    font-family: 'Poiret One', cursive;
    color:rgb(241, 241, 241);
    margin: 20px 0; /*valor 1= arriba y abajo, valor 2= derecha e izquierda*/

}

.img-card > img {
    width: 100px;
    height: 100px;
    object-fit: cover; /*Para que la imagen no se deforme*/
    border: 3px rgb(211, 197, 197) solid;
    border-radius: 50%;
    
}
.img-card {
    margin-left: -230px;
    margin-top: 25px;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.galeria {
    display: grid;
    grid-template-areas:
    "uno uno dos"
    "uno uno tres"
    "cuatro cinco seis";
}

div.galeria img {
    border: 4px solid white;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.32) 2px 2px 16px 2px, rgba(14, 30, 37, 0.32) 2px 2px 16px 2px;
} 

div.proyecto {
    margin:10px 20px;
    float: left;
}

div.proyecto:hover{
    transform: rotate(-3deg);
}

.uno {
    grid-area: uno;
}
.dos {
    grid-area: dos;
}
.tres {
    grid-area: tres;
}
.cuatro {
    grid-area: cuatro;
}

.uno img {
    width: 100%;
}